:root {
  --primary-color: #8A2BE2;
  --secondary-color: #4B0082;
  --background-color: #121212;
  --surface-color: #1E1E1E;
  --text-color: #FFFFFF;
  --text-secondary-color: #B3B3B3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.primary-button, .secondary-button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: inline-block;
}

.primary-button {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  color: white;
}

.primary-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.6);
}

.secondary-button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
